/java/basic/soap/.idea/workspace.xml
/java/basic/soap/result
/php/basic/.idea/workspace.xml
/php/basic/result
/java/basic/soap/build
/java/basic/rest/.idea/workspace.xml
/java/basic/rest/build
/java/basic/rest/schemas
/c#/basic/soap/.vs
/c#/basic/soap/webPDFWebServiceTest/obj
/c#/basic/soap/webPDFWebServiceTest/bin
node_modules
