/* Text Styles */
hr { color: #000000 }
body, table, tr, th /* Normal */
{
 font-size: 13px;
 font-family: 'Segoe UI',Tahoma,Verdana,Arial,sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f_Attribut /* Attribut */
{
 font-family: 'Courier New',Courier,monospace;
 font-weight: bold;
 color: #0000ff;
}
span.f_CodeExample /* Code Example */
{
 font-family: 'Courier New',Courier,monospace;
}
span.f_Command /* Command */
{
 font-family: Consolas;
 background-color: #f0f0f0;
}
span.f_Comment /* Comment */
{
}
span.f_CourierFixed /* Courier Fixed */
{
 font-family: 'Courier New',Courier,monospace;
}
span.f_Durchgestrichen /* Durchgestrichen */
{
 text-decoration: line-through;
}
span.f_Element /* Element */
{
 font-family: 'Courier New',Courier,monospace;
 font-weight: bold;
 color: #000080;
}
span.f_Heading1 /* Heading1 */
{
 font-weight: bold;
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 11px;
 font-weight: bold;
}
span.f_java /* java */
{
 font-family: 'Courier New',Courier,monospace;
}
span.f_json /* json */
{
 font-family: 'Courier New',Courier,monospace;
}
span.f_Notes /* Notes */
{
}
span.f_xml /* xml */
{
 font-family: 'Courier New',Courier,monospace;
}
/* Paragraph styles */
p, p.p_Normal, div.p_Normal, li.p_Normal /* Normal */
{
 text-align: left;
 text-indent: 0;
 padding: 0 0 0 0;
 margin: 0 0 0 24px;
}
.p_Attribut /* Attribut */
{
 font-size: 13px;
}
.p_CodeExample /* Code Example */
{
 font-size: 13px;
 margin: 0 0 0 0;
}
.p_Command /* Command */
{
 font-size: 13px;
 border-color: #000000;
 border-style: solid;
 border-width: thin;
 background: #f0f0f0;
 padding: 4px 4px 4px 4px;
 margin: 0 44px 0 44px;
}
.p_Comment /* Comment */
{
 font-size: 13px;
}
.p_Durchgestrichen /* Durchgestrichen */
{
 font-size: 13px;
}
.p_Element /* Element */
{
 font-size: 13px;
}
.p_Heading1 /* Heading1 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0;
 padding: 0 0 0 0;
 margin: 0 0 0 0;
}
.p_ImageCaption /* Image Caption */
{
 font-size: 11px;
}
.p_java /* java */
{
 font-size: 13px;
}
.p_json /* json */
{
 font-size: 13px;
}
.p_Notes /* Notes */
{
 font-size: 13px;
}
.p_xml /* xml */
{
 font-size: 13px;
}
/* Table styles */
div.hmrotate90  { display:inline-block; -webkit-writing-mode: vertical-rl; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; }
div.hmrotate270 { display:inline-block; -webkit-writing-mode: vertical-rl; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; transform: rotate(180deg); }



#hmpopupdiv /* used for javascript text popups */
{
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #FFFFFF;
  padding: 6px;
  border:1px solid #000000;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}

#hmlightbox /* image lightbox */
{
  border: none;
  padding: 8px;
  background: #FFF;
  font-size: 110%;
  font-weight: bold;
  color: #777;
  box-shadow: 5px 5px 5px #888;
}

a.dropdown-toggle /* dropdown toggle caption */
{
  cursor: pointer;
}
a.inline-toggle /* inline toggle caption */
{
  cursor: pointer;
}
img.dropdown-toggle-icon /* toggle icon */
{
  cursor: pointer;
}
/* CSS for responsive image maps */

.hmImageMap a.hmHotspotRect { display:block; position:absolute; border: 1px solid transparent; background:#000; opacity:0.01; filter:alpha(opacity=1)  }
.hmImageMap a.hmHotspotEllipse { display:block; position:absolute; border-radius:50%; border: 1px solid transparent; background:#000; opacity:0.01; filter:alpha(opacity=1) }
.hmImageMap:hover a.hmHotspotRect {opacity:0.3; filter:alpha(opacity=30); }
.hmImageMap:hover a.hmHotspotEllipse { opacity:0.3; filter:alpha(opacity=30); }
a.hmHotspotRect:hover { border:1px solid #000; background:#FFF; opacity:0.3; filter:alpha(opacity=30) }
a.hmHotspotEllipse:hover { border:1px solid #000; background:#FFF; opacity:0.3; filter:alpha(opacity=30) }
