<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="ConverterPortBinding">
          <mtomMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="2097152" maxReceivedMessageSize="2097152"
            maxBufferSize="2097152" />
        </binding>
        <binding name="PdfaPortBinding">
          <mtomMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="2097152" maxReceivedMessageSize="2097152"
            maxBufferSize="2097152" />
        </binding>
        <binding name="SignaturePortBinding">
          <mtomMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="2097152" maxReceivedMessageSize="2097152"
            maxBufferSize="2097152" />
        </binding>
        <binding name="ToolboxPortBinding">
          <mtomMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="2097152" maxReceivedMessageSize="2097152"
            maxBufferSize="2097152" />
        </binding>
        <binding name="OCRPortBinding">
          <mtomMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="2097152" maxReceivedMessageSize="2097152"
            maxBufferSize="2097152" />
        </binding>
        <binding name="BarcodePortBinding">
          <mtomMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="2097152" maxReceivedMessageSize="2097152"
            maxBufferSize="2097152" />
        </binding>
        <binding name="URLConverterPortBinding">
          <mtomMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="2097152" maxReceivedMessageSize="2097152"
            maxBufferSize="2097152" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/webPDF/soap/converter"
        binding="customBinding" bindingConfiguration="ConverterPortBinding"
        contract="ConverterService.Converter" name="ConverterPort" />
      <endpoint address="http://localhost:8080/webPDF/soap/pdfa" binding="customBinding"
        bindingConfiguration="PdfaPortBinding" contract="PdfaService.Pdfa"
        name="PdfaPort" />
      <endpoint address="http://localhost:8080/webPDF/soap/signature"
        binding="customBinding" bindingConfiguration="SignaturePortBinding"
        contract="SignatureService.Signature" name="SignaturePort" />
      <endpoint address="http://localhost:8080/webPDF/soap/toolbox"
        binding="customBinding" bindingConfiguration="ToolboxPortBinding"
        contract="ToolboxService.Toolbox" name="ToolboxPort" />
      <endpoint address="http://localhost:8080/webPDF/soap/ocr" binding="customBinding"
        bindingConfiguration="OCRPortBinding" contract="OcrService.OCR"
        name="OCRPort" />
      <endpoint address="http://localhost:8080/webPDF/soap/barcode"
        binding="customBinding" bindingConfiguration="BarcodePortBinding"
        contract="BarcodeService.Barcode" name="BarcodePort" />
      <endpoint address="http://localhost:8080/webPDF/soap/urlconverter"
        binding="customBinding" bindingConfiguration="URLConverterPortBinding"
        contract="UrlConverterService.URLConverter" name="URLConverterPort" />
    </client>
  </system.serviceModel>
</configuration>